.nuevo {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #1877f2;
    /* background-color: #181818; */
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #1877f2;
}

.nuevo:hover {
    background-color: #1666cf;
}

.user {
    padding: 7px;
    font-size: 15px;
    color: white;
    background-color: #1877f2;
    /* background-color: #181818; */
    cursor: pointer;
    border-radius: 5px;
    /* color: #fff; */
    border: 1px solid #1877f2;
}

.user:hover {
    background-color: #1666cf;
}

.textField {
    height: 36px;
    width: 200px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.textField:hover {
    border: none;
}

.btnBuscar {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.btnBuscar:hover {
    background-color: #e5e5e5;
}

.barraBusqueda {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .barraBusqueda {
        flex-wrap: wrap;
        justify-content: center;
    }

    .textField {
        width: 100%;
        margin-bottom: 10px;
    }

    .btnBuscar {
        width: 48%;
        margin: 5px;
    }
}
